body {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 70px;
  font-family: 'Raleway', sans-serif;
}

.centreTitle {
  text-align: center;
}

.imgWidth {
  width: 200px;
}

/*h1, h2 {
  font-family: 'Jim Nightshade', cursive;
  font-size: 50px;
}*/
p, div {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.shiftRight {
  float: right;
}

div h1 {
  font-family: 'Jim Nightshade', cursive;
  font-size: 60px;
}

.capitalize {
  text-transform: capitalize;   
}

li {
  list-style: none;
}

.highlight:hover {
  background-color: #337ab7;
  color: white;
}

.pointer {
  cursor: pointer;
}

.listIndentation {
  margin-left: -40px;
}

.topMarginGauge {
  margin-top: -45px;
}

