body {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 70px;
}

.headerPaddingTop {
  padding-top: 60px;
}

.centreTitle {
  text-align: center;
}

.imgWidth {
  width: 200px;
}

.demo-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
}